My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tep",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "cc85a98a-6b64-49ad-8aae-2df3255a413c",
      "name": "Webhook",
      "webhookId": "c0751b9a-f982-490b-b473-9faf3615b063"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9ad521a-fd54-488e-be8e-ba8e1959cb8e",
              "name": "evento",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "359d8864-36aa-4723-9804-8ff63f2b63bc",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "41531938-7bdc-4c97-8ed6-fc8c05470ea9",
              "name": "contato",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "b44abe76-57a0-4753-b493-e037dfde988e",
              "name": "nome_contato",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "3b057349-c579-4111-9d28-2af30430639b",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "a732d2b3-b690-4f2b-b3d4-eb5b1996a3ef",
              "name": "tipo_mensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "16d0f5d5-37c8-4fa4-b19e-0e3ec3f5d39a",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "5a170616-ad7c-4cde-b0bc-24efa591bdf9",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3ae862a7-df97-44bf-af83-38a03609de1d",
      "name": "ENTRADA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dfbfad3-0e5f-4510-8f5a-73493081c3ff",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "39fe6e14-dd76-41ab-b664-a0f66ca0d77a",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_mensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "14db823a-68ef-4a1f-b2b6-16278a07f583"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        624,
        96
      ],
      "id": "5fa6fa4c-ad55-40ca-9bce-899c0e54fc8d",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "Você é o CADU, assistente pessoal do Carlos! Responda cordialmente as mensagens"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        96
      ],
      "id": "f9e4062d-ec0f-4c18-a951-9c87bca68f82",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        304
      ],
      "id": "c57bbf18-699c-4df8-bc3e-9f66db270b44",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "U8rrEtyVY1BbTCy9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('ENTRADA').item.json.instancia }}",
        "remoteJid": "={{ $('ENTRADA').item.json.contato }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1184,
        96
      ],
      "id": "9264387b-bb44-416b-afa4-19c3dd647d16",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "uw2kvIw537MFl2Qb",
          "name": "WhatsN8N"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "auto.carlos.musicofmylifeapp.com",
            "user-agent": "axios/1.12.2",
            "content-length": "1433",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "163.176.193.21",
            "x-forwarded-host": "auto.carlos.musicofmylifeapp.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4370952bf2a5",
            "x-real-ip": "163.176.193.21"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "WhatsN8N",
            "data": {
              "key": {
                "remoteJid": "556696843407@s.whatsapp.net",
                "remoteJidAlt": "281182986084404@lid",
                "fromMe": false,
                "id": "AC6473A59CED7AF15262D7E7091B2D7A",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Gustavo D'ambros",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 193,
                      "1": 238,
                      "2": 85,
                      "3": 66,
                      "4": 109,
                      "5": 53,
                      "6": 185,
                      "7": 12,
                      "8": 130,
                      "9": 214
                    },
                    "senderTimestamp": {
                      "low": 1761094266,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 104,
                      "1": 161,
                      "2": 198,
                      "3": 123,
                      "4": 105,
                      "5": 153,
                      "6": 13,
                      "7": 219,
                      "8": 45,
                      "9": 106
                    },
                    "recipientTimestamp": {
                      "low": 1761091714,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 30,
                    "1": 188,
                    "2": 108,
                    "3": 225,
                    "4": 200,
                    "5": 187,
                    "6": 28,
                    "7": 26,
                    "8": 124,
                    "9": 78,
                    "10": 16,
                    "11": 223,
                    "12": 110,
                    "13": 52,
                    "14": 228,
                    "15": 3,
                    "16": 113,
                    "17": 54,
                    "18": 177,
                    "19": 42,
                    "20": 79,
                    "21": 187,
                    "22": 5,
                    "23": 105,
                    "24": 102,
                    "25": 201,
                    "26": 110,
                    "27": 58,
                    "28": 239,
                    "29": 22,
                    "30": 140,
                    "31": 115
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1761096382,
              "instanceId": "a270ded4-d5b6-42c5-a9b0-b483ea84539f",
              "source": "android"
            },
            "destination": "https://auto.carlos.musicofmylifeapp.com/webhook-test/tep",
            "date_time": "2025-10-21T22:26:22.332Z",
            "sender": "556596162987@s.whatsapp.net",
            "server_url": "https://api.carlos.musicofmylifeapp.com",
            "apikey": "F76947FD398E-4A20-B834-36C39EBEC270"
          },
          "webhookUrl": "https://webhook.carlos.musicofmylifeapp.com/webhook-test/tep",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ENTRADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENTRADA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2728912d-de39-4da5-bdaa-1bff248ed954",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d2241a931a41caca7ba8f38cf7f8543bef4654d8031ea7e7f027085ba9a77a6"
  },
  "id": "tCL5VnexbPyZ5qsj",
  "tags": []
}